@charset "utf-8";

header {
  text-align: center;
}

.settings {
  width: 320px;
  margin: 0 auto;
}

.settings progress {
  width: 100%;
}

.settings .set, .settings .buttons {
  height: 55px;
  margin: 10px 0;
}
.settings .buttons {
  margin-top: 20px;
  text-align: center;
}
.settings .buttons button {
  width: 120px;
  margin: 0 10px;
}
.settings label {
  width: 90px;
  line-height: 55px;
  font-size: 18px;
  text-align: right;
  display: block;
}
.settings input {
  right: 0;
  width: 214px;
  margin: -50px 0 0 106px;
}

#graph {
  margin-top: 50px;
  text-align: center;
}

footer {
  text-align: center;
}
